html,
body {
    height: 100%
}

body {
    font-family: 'Raleway', sans-serif !important;
    background-color: #F0FFFB;
}



h1 {
    text-align: center;
}

#sticky-footer a {
    color: #17FFE4;
}

#sticky-footer {
    font-family: 'Raleway', sans-serif;
}

#content {
    padding: 1em 1em 6em 1em;
}

.navbar {
    font-family: 'Raleway', sans-serif;
}

.inline-img {
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

/* Menu */
.bg-primary {
    background-color: #0A7064 !important;
}

/* Footer */
#sticky-footer {
    flex-shrink: none;
}

/* Photo Grid */
.masonry-photo-grid {
    column-count: 4;
    column-gap: 1em;
}

.photo {
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    /* width: 100%; */
    max-height: auto;
    max-width: 100%;
}

.photo img {
    margin: 0 0 0;
}